html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
}

div {
    position: absolute;
    box-sizing: border-box;
}

.container {
    width: 300px;
    height: 300px;
    perspective: 1500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#cube {
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
}

.face {
    height: 100%;
    width: 100%;
    user-select: none;
}