* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #140f60;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
nav {
  background-color: black;
  height: 80px;
  width: 100%;
  max-width: 380px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 6.7px 5.3px rgb(0 0 0 / 12%);
  color: #fff;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
li {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  transition: all 300ms;
}
a {
  color: gray;
  font-weight: bold;
  font-size: 30px;
  margin-top: 8px;
}
a.active {
  color: white;
}
li:hover a {
  transition: all 300ms;
  color: white;
}
i {
  color: white;
  font-weight: bold;
  transform: scale(1);
  transition: transform 200ms ease;
}

nav .spotLight {
  background-color: white;
  width: 48px;
  height: 5px;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 15px; 
  transition: left 300ms ease;
}

nav .ligthRay {
  position: absolute;
  left: -30%;
  top: 5px;
  width: 160%;
  height: 80px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3) -50%,
    rgba(255, 255, 255, 0) 90%
  );
  clip-path: polygon(5% 100%, 25% 0px, 75% 0px, 95% 100%);
  pointer-events: none;
}
