html {
  interpolate-size: allow-keywords;
}

body {
  margin: 0;
  min-height: 100vh;
  background: url("ff.jpg") center / cover no-repeat fixed;
  background-attachment: fixed;font-family: system-ui;
  font-size: 2rem;
}

nav {
  width: fit-content;
  margin: 3rem auto;
  padding: 8px;
  border-radius: 8px;
}
@supports (corner-shape: squircle) {
  nav {
    border-radius: 24px;
    border-shape: squircle;
  }
}
nav ul:has(:not(:hover)) {
  anchor-name: --test;
}
nav::before {
  z-index: -2;
  background-attachment: fixed;
  background-image: url("ff.jpg");
}
nav::after {
  backdrop-filter: blur(2px);
  background-color: hsla(200deg, 100%, 100%, 0.1);
  z-index: -1;
}
nav > ul {
  position: relative;
}
nav > ul::after {
  content: "";
  position: absolute;
  z-index: -3;
  inset: -8px;
  border-radius: 8px;
  background: hsla(0deg, 0%, 0%, 0.8);
  backdrop-filter: blur(2px);
}
@supports (corner-shape: squircle) {
  nav > ul::after {
    border-radius: 24px;
    border-shape: squircle;
  }
}
nav::before, nav::after {
  content: "";
  border-radius: 8px;
  position-anchor: --test;
  position: absolute;
  top: calc(anchor(bottom) - 4px);
  left: calc(anchor(left) + 1rem);
  right: calc(anchor(right) + 1rem);
  bottom: anchor(bottom);
  transition: 500ms;
  transition-timing-function: linear(0, 0.008 1.1%, 0.031 2.2%, 0.129 4.8%, 0.257 7.2%, 0.671 14.2%, 0.789 16.5%, 0.881 18.6%, 0.957 20.7%, 1.019 22.9%, 1.063 25.1%, 1.094 27.4%, 1.114 30.7%, 1.112 34.5%, 1.018 49.9%, 0.99 59.1%, 1);
}
nav:has(a:hover)::before, nav:has(a:hover)::after {
  top: anchor(top);
  left: anchor(left);
  right: anchor(right);
}
@supports (corner-shape: squircle) {
  nav:has(a:hover)::before, nav:has(a:hover)::after {
    corner-shape: squircle;
    border-radius: 50%;
  }
}
@supports (corner-shape: squircle) {
  nav:has(li:first-of-type a:hover)::before, nav:has(li:first-of-type a:hover)::after {
    border-radius: 32px 50% 50% 32px;
  }
}
@supports (corner-shape: squircle) {
  nav:has(li:last-of-type a:hover)::before, nav:has(li:last-of-type a:hover)::after {
    border-radius: 50% 32px 32px 50%;
  }
}
nav > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
nav a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: white;
}
nav a:hover {
  position: relative;
  display: block;
  anchor-name: --test;
}