body {
  background-image: linear-gradient(45deg, #0b1f33, #020d1a);
  overflow: hidden;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #fff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

h1 {
  font-size: 2rem;
  padding: 100px 20px 50px 20px;
  letter-spacing: 1px;
}

.planet-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.planet {
  background-image: linear-gradient(45deg, #0a182d, #061223);
  width: 240px;
  height: 240px;
  border-radius: 50%;
  position: relative;
}

.planet::before {
  content: "";
  background-color: #87bde6;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: -1;
  animation: 3s glowShift ease-in-out infinite alternate;
}

@keyframes glowShift {
  0% {
    transform: translate(-25px, 25px) scale(0.95);
    box-shadow: none;
  }

  50% {
    transform: translate(0, 0) scale(1.05);
    box-shadow: 0 0 12px #e2f0ff, 0 0 70px 10px #87bde6;
    background-color: #d6e8f7;
  }

  100% {
    transform: translate(25px, -25px) scale(0.95);
    box-shadow: none;
  }
}

@media (max-width: 768px) {
  .planet {
    width: 150px;
    height: 150px;
  }
  h1 {
  font-size: 1.8rem;
  padding: 120px 20px 50px 20px;
}
}