body {
  background: #111; /* Background dark kiya taaki loader dikhe */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  height: 6px;
  width: 180px;
  background: #44C69645;
  border-radius: 8px;
  position: relative;
  overflow-x: hidden;
}

.loader::after {
  content: "";
  height: 6px;
  width: 90px;
  position: absolute;
  top: 0;
  left: 0;
  background: #05CFFF;
  animation: move 1s ease infinite;
  border-radius: 8px;
}

@keyframes move {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
